.parent-div {
  width: 1440px;
  height: 9708px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.FRAME-20-425 {
  transform: rotate(0deg);
  position: relative;
  width: 1440px;
  height: 9708px;
  left: 0px;
  top: 0px;
  opacity: 1;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
}
.FRAME-50-2241 {
  transform: rotate(0deg);
  position: absolute;
  width: 1440px;
  height: 1118px;
  left: 0px;
  top: 0px;
  opacity: 1;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
}
.FRAME-50-2243 {
  transform: rotate(0deg);
  position: absolute;
  width: 1224px;
  height: 856px;
  left: 24px;
  top: 200px;
  opacity: 1;
}
.INSTANCE-50-2246 {
  transform: rotate(0deg);
  position: absolute;
  width: 128px;
  height: 48px;
  left: 182px;
  top: 584px;
  opacity: 1;
  background: rgba(20, 160, 152, 1);
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.FRAME-50-2247 {
  transform: rotate(0deg);
  position: absolute;
  width: 680px;
  height: 703px;
  left: 544px;
  top: 32px;
  opacity: 1;
}
.FRAME-50-2251 {
  transform: rotate(0deg);
  position: absolute;
  width: 924px;
  height: 97px;
  left: 221px;
  top: 759px;
  opacity: 1;
}
.FRAME-50-2252 {
  transform: rotate(0deg);
  position: absolute;
  width: 48px;
  height: 48px;
  left: 3px;
  top: 0px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.GROUP-50-2253 {
  position: absolute;
  width: 36px;
  height: 40.0013313293457px;
  left: 6px;
  top: 3.998669385910034px;
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
}
.FRAME-50-2257 {
  transform: rotate(0deg);
  position: absolute;
  width: 48px;
  height: 48px;
  left: 435px;
  top: 2px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.GROUP-50-2258 {
  position: absolute;
  width: 36px;
  height: 39.99938201904297px;
  left: 6px;
  top: 4.000619888305664px;
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
}
.FRAME-50-2261 {
  transform: rotate(0deg);
  position: absolute;
  width: 48px;
  height: 48px;
  left: 867px;
  top: 0px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.INSTANCE-50-2268 {
  transform: rotate(0deg);
  position: absolute;
  width: 1440px;
  height: 208px;
  left: 0px;
  top: 0px;
  opacity: 1;
  overflow: hidden;
  background: rgba(44, 62, 80, 1);
}
.INSTANCE-I50-2268-47-1633 {
  transform: rotate(0deg);
  position: absolute;
  width: 815px;
  height: 43px;
  left: 470px;
  top: 93px;
  opacity: 1;
}
.INSTANCE-I50-2268-47-1633-7-282 {
  transform: rotate(0deg);
  position: absolute;
  width: 75px;
  height: 43px;
  left: 69px;
  top: 0px;
  opacity: 1;
}
.INSTANCE-I50-2268-47-1633-6-277 {
  transform: rotate(0deg);
  position: absolute;
  width: 103px;
  height: 43px;
  left: 160px;
  top: 0px;
  opacity: 1;
}
.INSTANCE-I50-2268-47-1633-6-279 {
  transform: rotate(0deg);
  position: absolute;
  width: 102px;
  height: 43px;
  left: 279px;
  top: 0px;
  opacity: 1;
}
.INSTANCE-I50-2268-47-1633-25-549 {
  transform: rotate(0deg);
  position: absolute;
  width: 97px;
  height: 43px;
  left: 397px;
  top: 0px;
  opacity: 1;
}
.INSTANCE-I50-2268-47-1633-25-591 {
  transform: rotate(0deg);
  position: absolute;
  width: 125px;
  height: 43px;
  left: 510px;
  top: 0px;
  opacity: 1;
}
.INSTANCE-I50-2268-47-1633-7-285 {
  transform: rotate(0deg);
  position: absolute;
  width: 95px;
  height: 43px;
  left: 651px;
  top: 0px;
  opacity: 1;
}
.FRAME-50-2314 {
  transform: rotate(0deg);
  position: absolute;
  width: 1440px;
  height: 2476px;
  left: 0px;
  top: 1084px;
  opacity: 1;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
}
.FRAME-50-2316 {
  transform: rotate(0deg);
  position: absolute;
  width: 1235px;
  height: 449px;
  left: 25px;
  top: 296px;
  opacity: 1;
}
.FRAME-50-2320 {
  transform: rotate(0deg);
  position: absolute;
  width: 1235px;
  height: 488px;
  left: 25px;
  top: 800px;
  opacity: 1;
}
.FRAME-50-2324 {
  transform: rotate(0deg);
  position: absolute;
  width: 1223px;
  height: 456px;
  left: 25px;
  top: 1960px;
  opacity: 1;
}
.FRAME-50-2328 {
  transform: rotate(0deg);
  position: absolute;
  width: 1213px;
  height: 518px;
  left: 25px;
  top: 1356px;
  opacity: 1;
}
.FRAME-50-2384 {
  transform: rotate(0deg);
  position: absolute;
  width: 1440px;
  height: 3230px;
  left: 0px;
  top: 3500px;
  opacity: 1;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
}
.FRAME-50-2386 {
  transform: rotate(0deg);
  position: absolute;
  width: 1180px;
  height: 631px;
  left: 24px;
  top: 2575px;
  opacity: 1;
}
.INSTANCE-50-2390 {
  transform: rotate(0deg);
  position: absolute;
  width: 125px;
  height: 48px;
  left: 222px;
  top: 520px;
  opacity: 1;
  border: 1px solid rgba(20, 160, 152, 1);

  left: 221px !important;
  top: 519px !important;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.FRAME-50-2391 {
  transform: rotate(0deg);
  position: absolute;
  width: 1227px;
  height: 592px;
  left: 24px;
  top: 368px;
  opacity: 1;
}
.INSTANCE-50-2396 {
  transform: rotate(0deg);
  position: absolute;
  width: 139px;
  height: 48px;
  left: 900px;
  top: 544px;
  opacity: 1;
  border: 1px solid rgba(20, 160, 152, 1);

  left: 899px !important;
  top: 543px !important;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.RECTANGLE-50-2397 {
  position: absolute;
  left: 18px;
  top: 1012px;
  transform: rotate(0deg);
  transform-origin: center !important;
  background: rgba(230, 126, 34, 0.8);

  width: 1404px;
  height: 8px;
  opacity: 1;
}
.RECTANGLE-50-2398 {
  position: absolute;
  left: 18px;
  top: 1747px;
  transform: rotate(0deg);
  transform-origin: center !important;
  background: rgba(230, 126, 34, 0.8);

  width: 1404px;
  height: 8px;
  opacity: 1;
}
.RECTANGLE-50-2399 {
  position: absolute;
  left: 18px;
  top: 2527px;
  transform: rotate(0deg);
  transform-origin: center !important;
  background: rgba(230, 126, 34, 0.8);

  width: 1404px;
  height: 8px;
  opacity: 1;
}
.FRAME-50-2400 {
  transform: rotate(0deg);
  position: absolute;
  width: 1231px;
  height: 613px;
  left: 20px;
  top: 1075px;
  opacity: 1;
}
.INSTANCE-50-2403 {
  transform: rotate(0deg);
  position: absolute;
  width: 160px;
  height: 48px;
  left: 175px;
  top: 542px;
  opacity: 1;
  border: 1px solid rgba(20, 160, 152, 1);

  left: 174px !important;
  top: 541px !important;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.FRAME-50-2406 {
  transform: rotate(0deg);
  position: absolute;
  width: 1236px;
  height: 662px;
  left: 24px;
  top: 1821px;
  opacity: 1;
}
.INSTANCE-50-2409 {
  transform: rotate(0deg);
  position: absolute;
  width: 139px;
  height: 48px;
  left: 785px;
  top: 604px;
  opacity: 1;
  border: 1px solid rgba(20, 160, 152, 1);

  left: 784px !important;
  top: 603px !important;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.FRAME-50-2410 {
  transform: rotate(0deg);
  position: absolute;
  width: 650px;
  height: 188px;
  left: 542px;
  top: 370px;
  opacity: 1;
}
.FRAME-50-2468 {
  transform: rotate(0deg);
  position: absolute;
  width: 1440px;
  height: 1258px;
  left: 0px;
  top: 6730px;
  opacity: 1;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
}
.INSTANCE-50-2472 {
  transform: rotate(0deg);
  position: absolute;
  width: 128px;
  height: 48px;
  left: 233px;
  top: 645px;
  opacity: 1;
  background: rgba(20, 160, 152, 1);
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.FRAME-50-2473 {
  transform: rotate(0deg);
  position: absolute;
  width: 1244px;
  height: 794px;
  left: 17px;
  top: 480px;
  opacity: 1;
}
.GROUP-50-2474 {
  position: absolute;
  width: 602px;
  height: 222px;
  left: 0px;
  top: 0px;
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
}
.FRAME-50-2475 {
  transform: rotate(0deg);
  position: absolute;
  width: 562px;
  height: 222px;
  left: 40px;
  top: 0px;
  opacity: 1;
  box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09000000357627869);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09000000357627869);
  border-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.FRAME-50-2476 {
  transform: rotate(0deg);
  position: absolute;
  width: 466px;
  height: 142px;
  left: 72px;
  top: 40px;
  opacity: 1;
}
.FRAME-50-2477 {
  transform: rotate(0deg);
  position: absolute;
  width: 466px;
  height: 30px;
  left: 0px;
  top: 0px;
  opacity: 1;
}
.FRAME-50-2481 {
  transform: rotate(0deg);
  position: absolute;
  width: 76.57142639160156px;
  height: 76.57142639160156px;
  left: 0px;
  top: 60px;
  opacity: 1;
  overflow: hidden;
  background: rgba(230, 126, 34, 1);
  border-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.GROUP-50-2482 {
  position: absolute;
  width: 44.57143020629883px;
  height: 44.57143020629883px;
  left: 16px;
  top: 16px;
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
}
.GROUP-50-2485 {
  position: absolute;
  width: 602px;
  height: 246px;
  left: 0px;
  top: 240px;
  transform: rotate(0deg);
  z-index: 2;
  opacity: 1;
}
.FRAME-50-2486 {
  transform: rotate(0deg);
  position: absolute;
  width: 562px;
  height: 246px;
  left: 40px;
  top: 240px;
  opacity: 1;
  box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09000000357627869);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09000000357627869);
  border-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.FRAME-50-2487 {
  transform: rotate(0deg);
  position: absolute;
  width: 466px;
  height: 166px;
  left: 72px;
  top: 40px;
  opacity: 1;
}
.FRAME-50-2488 {
  transform: rotate(0deg);
  position: absolute;
  width: 466px;
  height: 30px;
  left: 0px;
  top: 0px;
  opacity: 1;
}
.FRAME-50-2492 {
  transform: rotate(0deg);
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0px;
  top: 300px;
  opacity: 1;
  overflow: hidden;
  background: rgba(230, 126, 34, 1);
  border-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.FRAME-50-2493 {
  transform: rotate(0deg);
  position: absolute;
  width: 48px;
  height: 48px;
  left: 16px;
  top: 16px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.GROUP-50-2496 {
  position: absolute;
  width: 602px;
  height: 246px;
  left: 0px;
  top: 502px;
  transform: rotate(0deg);
  z-index: 3;
  opacity: 1;
}
.FRAME-50-2497 {
  transform: rotate(0deg);
  position: absolute;
  width: 562px;
  height: 246px;
  left: 40px;
  top: 502px;
  opacity: 1;
  box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09000000357627869);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09000000357627869);
  border-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.FRAME-50-2498 {
  transform: rotate(0deg);
  position: absolute;
  width: 466px;
  height: 166px;
  left: 72px;
  top: 40px;
  opacity: 1;
}
.FRAME-50-2499 {
  transform: rotate(0deg);
  position: absolute;
  width: 466px;
  height: 30px;
  left: 0px;
  top: 0px;
  opacity: 1;
}
.FRAME-50-2503 {
  transform: rotate(0deg);
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0px;
  top: 562px;
  opacity: 1;
  overflow: hidden;
  background: rgba(230, 126, 34, 1);
  border-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.FRAME-50-2504 {
  transform: rotate(0deg);
  position: absolute;
  width: 48px;
  height: 48px;
  left: 16px;
  top: 16px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.GROUP-50-2506 {
  position: absolute;
  width: 602px;
  height: 222px;
  left: 642px;
  top: 0px;
  transform: rotate(0deg);
  z-index: 4;
  opacity: 1;
}
.FRAME-50-2507 {
  transform: rotate(0deg);
  position: absolute;
  width: 562px;
  height: 222px;
  left: 682px;
  top: 0px;
  opacity: 1;
  box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09000000357627869);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09000000357627869);
  border-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.FRAME-50-2508 {
  transform: rotate(0deg);
  position: absolute;
  width: 466px;
  height: 142px;
  left: 72px;
  top: 40px;
  opacity: 1;
}
.FRAME-50-2509 {
  transform: rotate(0deg);
  position: absolute;
  width: 466px;
  height: 30px;
  left: 0px;
  top: 0px;
  opacity: 1;
}
.FRAME-50-2513 {
  transform: rotate(0deg);
  position: absolute;
  width: 80px;
  height: 80px;
  left: 642px;
  top: 60px;
  opacity: 1;
  overflow: hidden;
  background: rgba(230, 126, 34, 1);
  border-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.FRAME-50-2514 {
  transform: rotate(0deg);
  position: absolute;
  width: 48px;
  height: 48px;
  left: 16px;
  top: 16px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.GROUP-50-2518 {
  position: absolute;
  width: 602px;
  height: 222px;
  left: 642px;
  top: 240px;
  transform: rotate(0deg);
  z-index: 5;
  opacity: 1;
}
.FRAME-50-2519 {
  transform: rotate(0deg);
  position: absolute;
  width: 562px;
  height: 222px;
  left: 682px;
  top: 240px;
  opacity: 1;
  box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09000000357627869);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09000000357627869);
  border-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.FRAME-50-2520 {
  transform: rotate(0deg);
  position: absolute;
  width: 466px;
  height: 142px;
  left: 72px;
  top: 40px;
  opacity: 1;
}
.FRAME-50-2521 {
  transform: rotate(0deg);
  position: absolute;
  width: 466px;
  height: 30px;
  left: 0px;
  top: 0px;
  opacity: 1;
}
.FRAME-50-2525 {
  transform: rotate(0deg);
  position: absolute;
  width: 80px;
  height: 80px;
  left: 642px;
  top: 300px;
  opacity: 1;
  overflow: hidden;
  background: rgba(230, 126, 34, 1);
  border-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.FRAME-50-2526 {
  transform: rotate(0deg);
  position: absolute;
  width: 48px;
  height: 48px;
  left: 16px;
  top: 16px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.FRAME-50-2577 {
  transform: rotate(0deg);
  position: absolute;
  width: 1440px;
  height: 1700px;
  left: 0px;
  top: 8004px;
  opacity: 1;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
}
.GROUP-50-2579 {
  position: absolute;
  width: 1235.4482421875px;
  height: 689px;
  left: 30px;
  top: 423px;
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
}
.GROUP-50-2580 {
  position: absolute;
  width: 1235.4482421875px;
  height: 689px;
  left: 30px;
  top: 423px;
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
}
.RECTANGLE-50-2581 {
  position: absolute;
  left: 30px;
  top: 423px;
  transform: rotate(0deg);
  transform-origin: center !important;
  background: rgba(255, 255, 255, 1);

  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.029999999329447746);

  width: 1235.4482421875px;
  height: 689px;
  opacity: 1;
}
.FRAME-50-2582 {
  transform: rotate(0deg);
  position: absolute;
  width: 507.1949157714844px;
  height: 668.34033203125px;
  left: 40.329834938049316px;
  top: 433.3298349380493px;
  opacity: 1;
  overflow: hidden;
}
.ELLIPSE-50-2584 {
  position: absolute;
  left: 311px;
  top: 464px;
  transform: rotate(0deg);
  transform-origin: center !important;
  background: rgba(20, 160, 152, 0.6);

  border-radius: 50%;

  width: 269px;
  height: 269px;
  opacity: 1;
  clip-path: url(#id-Ellipse793-31-Frame1-31-Group1000001746-31-Group1000001766-31-Contact-31-TechLinersInc-svgpath);
}
.ELLIPSE-50-2585 {
  position: absolute;
  left: 283px;
  top: 438px;
  transform: rotate(0deg);
  transform-origin: center !important;
  background: rgba(230, 126, 34, 0.3);

  border-radius: 50%;

  width: 138px;
  height: 138px;
  opacity: 1;
  clip-path: url(#id-Ellipse794-31-Frame1-31-Group1000001746-31-Group1000001766-31-Contact-31-TechLinersInc-svgpath);
}
.GROUP-50-2587 {
  position: absolute;
  width: 337px;
  height: 172px;
  left: 40px;
  top: 226px;
  transform: rotate(0deg);
  z-index: 5;
  opacity: 1;
}
.FRAME-50-2588 {
  transform: rotate(0deg);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 374px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.GROUP-50-2591 {
  position: absolute;
  width: 177px;
  height: 24px;
  left: 40px;
  top: 226px;
  transform: rotate(0deg);
  z-index: 6;
  opacity: 1;
}
.FRAME-50-2592 {
  transform: rotate(0deg);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 226px;
  opacity: 1;
  overflow: hidden;
  background: rgba(230, 126, 34, 1);
}
.GROUP-50-2596 {
  position: absolute;
  width: 218px;
  height: 24px;
  left: 40px;
  top: 300px;
  transform: rotate(0deg);
  z-index: 7;
  opacity: 1;
}
.FRAME-50-2597 {
  transform: rotate(0deg);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 300px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.GROUP-50-2601 {
  position: absolute;
  width: 287.1694030761719px;
  height: 56.81409454345703px;
  left: 599.1738891601562px;
  top: 484.97901153564453px;
  transform: rotate(0deg);
  z-index: 2;
  opacity: 1;
}
.GROUP-50-2604 {
  position: absolute;
  width: 287.1694030761719px;
  height: 56.81409454345703px;
  left: 599.1738891601562px;
  top: 588.2773590087891px;
  transform: rotate(0deg);
  z-index: 3;
  opacity: 1;
}
.GROUP-50-2607 {
  position: absolute;
  width: 287.1694030761719px;
  height: 56.81409454345703px;
  left: 926.6296997070312px;
  top: 484.97901153564453px;
  transform: rotate(0deg);
  z-index: 4;
  opacity: 1;
}
.GROUP-50-2610 {
  position: absolute;
  width: 614.6251831054688px;
  height: 57.847076416015625px;
  left: 599.1738891601562px;
  top: 794.8740539550781px;
  transform: rotate(0deg);
  z-index: 5;
  opacity: 1;
}
.GROUP-50-2614 {
  position: absolute;
  width: 287.1694030761719px;
  height: 56.81409454345703px;
  left: 926.6296997070312px;
  top: 588.2773590087891px;
  transform: rotate(0deg);
  z-index: 6;
  opacity: 1;
}
.GROUP-50-2615 {
  position: absolute;
  width: 287.1694030761719px;
  height: 56.81409454345703px;
  left: 926.6296997070312px;
  top: 588.2773590087891px;
  transform: rotate(0deg);
  z-index: 6;
  opacity: 1;
}
.GROUP-50-2618 {
  position: absolute;
  width: 537.1514282226562px;
  height: 56.81409454345703px;
  left: 599.1738891601562px;
  top: 691.5757141113281px;
  transform: rotate(0deg);
  z-index: 7;
  opacity: 1;
}
.GROUP-50-2620 {
  position: absolute;
  width: 118.79310607910156px;
  height: 21.04225730895996px;
  left: 599.1739740786361px;
  top: 727.3475494384766px;
  transform: rotate(0deg);
  z-index: 8;
  opacity: 1;
}
.FRAME-50-2622 {
  transform: rotate(0deg);
  position: absolute;
  width: 13.42878532409668px;
  height: 13.67746639251709px;
  left: 599.1740589971159px;
  top: 731.5559921264648px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.GROUP-50-2624 {
  position: absolute;
  width: 118.79310607910156px;
  height: 21.04225730895996px;
  left: 738.6267547607422px;
  top: 727.3475494384766px;
  transform: rotate(0deg);
  z-index: 9;
  opacity: 1;
}
.FRAME-50-2626 {
  transform: rotate(0deg);
  position: absolute;
  width: 13.42878532409668px;
  height: 13.67746639251709px;
  left: 738.6269765736652px;
  top: 731.5559921264648px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.GROUP-50-2628 {
  position: absolute;
  width: 118.79310607910156px;
  height: 21.04225730895996px;
  left: 878.0795288085938px;
  top: 727.3475494384766px;
  transform: rotate(0deg);
  z-index: 10;
  opacity: 1;
}
.FRAME-50-2630 {
  transform: rotate(0deg);
  position: absolute;
  width: 13.42878532409668px;
  height: 13.67746639251709px;
  left: 878.0793992347026px;
  top: 731.5559921264648px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.GROUP-50-2632 {
  position: absolute;
  width: 118.79310607910156px;
  height: 21.04225730895996px;
  left: 1017.5322875976562px;
  top: 727.3475494384766px;
  transform: rotate(0deg);
  z-index: 11;
  opacity: 1;
}
.FRAME-50-2634 {
  transform: rotate(0deg);
  position: absolute;
  width: 13.42878532409668px;
  height: 13.67746639251709px;
  left: 1017.5322949182155px;
  top: 731.5559921264648px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.INSTANCE-50-2636 {
  transform: rotate(0deg);
  position: absolute;
  width: 1440px;
  height: 416px;
  left: 0px;
  top: 1288px;
  opacity: 1;
  background: transparent;
}
.INSTANCE-I50-2636-47-1787 {
  transform: rotate(0deg);
  position: absolute;
  width: 1440px;
  height: 416px;
  left: 0px;
  top: 0px;
  opacity: 1;
  overflow: hidden;
  background: rgba(44, 62, 80, 1);
}
.FRAME-I50-2636-47-1787-47-1592 {
  transform: rotate(0deg);
  position: absolute;
  width: 40px;
  height: 40px;
  left: 561px;
  top: 208px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.FRAME-I50-2636-47-1787-47-1595 {
  transform: rotate(0deg);
  position: absolute;
  width: 40px;
  height: 40px;
  left: 653px;
  top: 208px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.GROUP-I50-2636-47-1787-47-1596 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
}
.FRAME-I50-2636-47-1787-47-1600 {
  transform: rotate(0deg);
  position: absolute;
  width: 40px;
  height: 40px;
  left: 735px;
  top: 208px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.FRAME-I50-2636-47-1787-47-1602 {
  transform: rotate(0deg);
  position: absolute;
  width: 40px;
  height: 40px;
  left: 817px;
  top: 208px;
  opacity: 1;
  overflow: hidden;
  background: transparent;
}
.INSTANCE-I50-2636-47-1787-47-1605 {
  transform: rotate(0deg);
  position: absolute;
  width: 815px;
  height: 44px;
  left: 327px;
  top: 135px;
  opacity: 1;
}
.INSTANCE-I50-2636-47-1787-47-1605-7-282 {
  transform: rotate(0deg);
  position: absolute;
  width: 66px;
  height: 44px;
  left: 116px;
  top: 0px;
  opacity: 1;
}
.INSTANCE-I50-2636-47-1787-47-1605-6-277 {
  transform: rotate(0deg);
  position: absolute;
  width: 89px;
  height: 44px;
  left: 198px;
  top: 0px;
  opacity: 1;
}
.INSTANCE-I50-2636-47-1787-47-1605-6-279 {
  transform: rotate(0deg);
  position: absolute;
  width: 87px;
  height: 44px;
  left: 303px;
  top: 0px;
  opacity: 1;
}
.INSTANCE-I50-2636-47-1787-47-1605-25-549 {
  transform: rotate(0deg);
  position: absolute;
  width: 81px;
  height: 44px;
  left: 406px;
  top: 0px;
  opacity: 1;
}
.INSTANCE-I50-2636-47-1787-47-1605-25-591 {
  transform: rotate(0deg);
  position: absolute;
  width: 102px;
  height: 44px;
  left: 503px;
  top: 0px;
  opacity: 1;
}
.INSTANCE-I50-2636-47-1787-47-1605-7-285 {
  transform: rotate(0deg);
  position: absolute;
  width: 78px;
  height: 44px;
  left: 621px;
  top: 0px;
  opacity: 1;
}
.INSTANCE-50-2637 {
  transform: rotate(0deg);
  position: absolute;
  width: 167px;
  height: 48px;
  left: 1024px;
  top: 911px;
  opacity: 1;
  background: rgba(20, 160, 152, 1);
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
